@media print {
  .padding-medium ol {
    list-style: none;
    padding-right: 200px;
    padding-left: 200px;
  }

  section .tm-content-box .tm-team-description-container {
    float: none;
    margin: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  h2,
  a {
    text-align: center;
    color: black;
  }
  h2 {
    color: lightskyblue;
  }
  .padding-medium {
    padding: 5;
    max-width: 100%;
  }
  .heading .padding-medium {
    padding: 0;
  }
  p {
    font-size: 10px;
  }
  .tm-banner-inner {
    border: 1px solid lightgrey;
  }
  .tm-content-box {
    width: 100%;
    margin: 0;
  }

  section {
    margin: 0;
  }
  #home {
    margin: 0;
  }
  .tm-banner,
  .tm-main-content {
    padding: 0;
  }
  #tmCarousel {
    padding: 0;
  }
  li:nth-child(even) {
    text-align: right;
  }
  li:nth-child(odd) {
    text-align: left;
  }
  li::first-letter {
    font-size: 15px;
    color: lightskyblue;
    font-style: italic;
  }
  li {
    font-size: 10px;
  }
  section .tm-team-description-container p.tm-section-description {
    text-align: center;
    font-size: small;
    text-indent: 25px;
  }
  .padding-medium ol li a:visited {
    color: black;
  }

  .img-contact-us,
  #contact,
  section::before,
  .carousel-indicators,
  #about,
  .tm-team-img,
  .boxes,
  .tm-sidebar,
  .text::after {
    display: none;
  }
}
