// Write your styles here
@mixin textFormat($size, $weight, $color: black, $textallign: none) {
    font-size: $size;
    font-weight: $weight;
    text-align: $textallign;
    color: $color;
}
@mixin marginWidthBGPad($margin, $width, $bg,  $padding...) {
    margin: $margin;
    padding: $padding;
    width: $width;
    background: $bg;        
}

body {
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $bg;
}
mark{
    background-color: $underline;
    display: inline-block;
    line-height: 0;
    padding-bottom: 0.4em;
}

.header{
    background-image: $fontimage;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    padding: 20px 100px 200px 100px;
    border-bottom-right-radius: 35%;
    .landing-logo{
        margin-top: 10px;
        img{
            float: left;
        }
        p{
            margin: auto;
            width: 95%;
            @include textFormat(20px, 700);
            span{
                @include textFormat(10px, 200);
                display: block;
                width: 30%;
                padding-left: 5px;
            }
        }
    }
    &_heading{
        @include textFormat(50px, 900);
        width: 400px;
    }
    &_text{
        width: 40%;
    }&_button{
        @include marginWidthBGPad(20px, 20%, $backgroundColor, 5px 30px);
        border: 0ch;
        color: $textcolor;
    }
}
.section{
    margin: 20px 200px;
    text-align: center;
    &_text{
        @include textFormat(20px, 700, center);
    }
    &_card_wrap{
        margin-bottom: 450px;
    }
    &_card{
        @include textFormat(12px, none, none ,center);
        @include marginWidthBGPad(20px, 420px, $card, 20px 10px);
        float: left;
        &_heading mark{
        @include textFormat(15px, none, $textcolor ,center);
        }
        &_text{
            color: $textcolor;
            margin: auto;
            width: 70%;
        }
    }
    &_banner{
        @include marginWidthBGPad(auto, 70%, $gradient, 10px 20px);
        position: relative;
        margin-bottom: -70px;
        &_text_wrap{
            clear: left;
            overflow: hidden;
        }
        &_heading{
            @include textFormat(20px, 700, none, left);
        }
        &_text{
            @include textFormat(10px, none, none, left);
        }
        &_button{
            @extend.header_button;
            float: right;
            margin: -50px 30px 10px 20px;
        }
    }
}
.footer{
    background: $card;
    padding: 20px 10px;
    font-size: 15px;
    &-wrap{
        margin: 20px 100px;
        padding-top: 20px;
    }
    &_logo{
        width: 300px;
        float: left;
        display: block;
    }
    &_text{
        @include textFormat(10px, none, center);
        display: inline-block;
        width: 200px;
        padding-left: 450px;
    }
    &-cr{
        padding-top: 20px;
        display: block;
        float: right;
    }
}