$backgroundColor: orange;
$bg: rgb(50, 50, 53);
$textcolor: white;
$underline: red;
$card: rgb(77, 83, 107);
$gradient: linear-gradient(to right, orange, red);
$fontimage: url("../img/m-h-night.jpg");
