$backgroundColor: green;
$bg: white;
$textcolor: white;
$underline: rgb(0, 200, 255);
$card: rgb(15, 25, 72);
$gradient: linear-gradient(to right, green, blue);
$fontimage: url("../img/m-h-day.jpg");
